@{
    ViewData["Title"] = "MARKET HOME";
}
<div class="text-center">
    <h1 class="display-1">Alejandra's Purses</h1>
</div>
<div class="container" align="center">
    <div class="row">
        <div class="col">
            <img src="https://www.victoriahorner.com/baglady.gif" alt="Purses" width="340" height="440">
        </div>
        <div class="col" align="center">
            <div class="text-center">
                
               <div class="justify-content-xl-center"
                <h1 class="display-2">WELCOME TO ALEJANDRA'S PURSES</h1>
                <h3 class="display-3"><a href="https://localhost:5001/Account/Register">REGISTER HERE!!</a></h3>
                
                <h3 class="display-3"><a href="https://localhost:5001/User/UserPurses">VIEW OUR SELECTION OF PURSES!!</a></h3>
                
               </div>

            </div>
        </div>
    </div>
</div>
