@model Market.Models.CartModels.CartViewModel

<div>
    <h2>These Items Are In Your Cart</h2>
</div>

<ul>
    @foreach (var cartItem in Model.CartItems)
    {
        <li class="list-group-item">
            <div>
                <h4>@cartItem.CartItemName</h4>
                <a asp-action="DeleteCartItems"
                   asp-controller="Cart"
                   asp-route-productID="@cartItem.ProductId">
                    Delete
                </a>
            </div>
        </li>
    }
</ul>
<div>
    <button>
        <a asp-action="ProceedToCheckout" asp-controller="Cart">Begin Checkout Process</a>
    </button>

</div>